body {
  background-image: url(https://www.toptal.com/designers/subtlepatterns/patterns/sports.png);
  height: 2000px;
  position: relative;
  font-family: helvetica;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.text {
  padding: 1em;
  margin: 3em auto;
  max-width: 437px;
  font-size: 2em;
  line-height: 1.2;
  font-weight: lighter;
}
.backTop {
  position: fixed;
  bottom: 0;
  right: 0;
  display: inline-block;  
  padding: 1em;
  margin: 1em;
  background: #E8E8E8;
  border: 2px solid #000;
}
.backTop:hover {
  cursor: pointer;
}