/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
.navbar {
    transition: all 0.7s;
}

.navbar .nav-link {
    /* color: #fff; */
    color: #404040;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    /* color: #fff; */
    color: #0b486b;
    text-decoration: none;
}

.navbar .navbar-brand {
    /* color: #fff; */
    color: #404040;
}


/* Change navbar styling on scroll */
.navbar.active {
    background-color: #69d2e7;
    /* background-image: linear-gradient(315deg, #c73e1d 0%, #a23b72 37%, #2e86ab 100%); */

    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}


.navbar.active .nav-link {
    color: #262626;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    color: #262626;
    text-decoration: none;
}

.navbar.active .navbar-brand {
    color: #262626;
}


/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
    .navbar {
        background: #fff;
    }

    .navbar .navbar-brand, .navbar .nav-link {
        color: #555;
    }
}



/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/
.text-small {
    font-size: 0.9rem !important;
}


body {
    /* min-height: 110vh; */
    /* background-color: #4ca1af; */
    /* background-color: #faa499; */
    background-image: linear-gradient(319deg, #E4DBBF 0%, #E4DBBF 37%, #E4DBBF 100%);

    /* background-image: linear-gradient(135deg, #32b4ff 0%, #c0d0d3 100%); */
    /* margin-bottom: 50px; */
}


